.wy-side-nav-search {
    background-color: #000B25
}

.wy-nav-side {
    background-color: #000B25
}

.wy-nav-top {
    background-color: #000B25
}

.rst-versions .rst-current-version {
    background-color: #000B25
}

.badge {
    width: auto;
}
